GRAPH_TENANT_ID=
GRAPH_CLIENT_ID=
GRAPH_CLIENT_SECRET=
GRAPH_SENDER_USER=info@valade.net
OFFER_FALLBACK_EMAIL=info@valade.net

VEHICLE_ADMIN_PASSWORD=
GITHUB_OWNER=Valade-et-associes
GITHUB_REPO=site-huissiersvalade
GITHUB_BRANCH=main
GITHUB_TOKEN=